.container{
  position: relative;
  width: 440px;
  height: 500px;
  margin: 90px auto 0;
}

.arrow-top {
  position: relative;
  top: 10px;
  left: 160px;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}

.arrow-lvl2-1 {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}
.arrow-lvl2-2 {
  position: absolute;
  top: 110px;
  left: 100px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}
.arrow-lvl2-3 {
  position: absolute;
  top: 110px;
  left: 175px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}
.arrow-lvl2-4 {
  position: absolute;
  top: 110px;
  left: 250px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}
.arrow-lvl2-5 {
  position: absolute;
  top: 110px;
  left: 330px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}

.arrow-lvl3-1 {
  position: absolute;
  top: 210px;
  left: 20px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}
.arrow-lvl3-2 {
  position: absolute;
  top: 210px;
  left: 100px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}
.arrow-lvl3-3 {
  position: absolute;
  top: 210px;
  left: 175px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}
.arrow-lvl3-4 {
  position: absolute;
  top: 210px;
  left: 250px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}
.arrow-lvl3-5 {
  position: absolute;
  top: 210px;
  left: 330px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}
.arrow-bottom {
  position: absolute;
  top: 310px;
  left: 175px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}

.seedContainer{
  position: relative;
  top: -530px;
  left: 30px;
  margin: 0 auto;
  width: 260px;
  height: 260px;
  opacity: 1;
}
.seedContainer ul{
  margin: 0 auto;
  position: relative;
}
.seedContainer ul li{
  list-style: none;
  width: 120px;
  height: 120px;
  position: relative;
  top: 0;
  border-radius: 50%; /* make a circle */
  border: 1px solid #000;
  transform-origin: bottom center;
}
.seedContainer ul li:nth-child(1){
  position: absolute;
  top: 0;
  left: 40px;
  background: rgba(68,0,103,.3);
  animation-delay: 0s;
}
.seedContainer ul li:nth-child(2){
  position: absolute;
  top: 95px;
  left: -170px;
  background: rgba(68,0,103,.3);
  animation-delay: 1s;
}
.seedContainer ul li:nth-child(3){
  position: absolute;
  top: 95px;
  left: 250px;
  background: rgba(68,0,103,.3);
  animation-delay: 2s;
}
.seedContainer ul li:nth-child(4){
  position: absolute;
  top: 280px;
  left: -170px;
  background: rgba(68,0,103,.3);
  animation-delay: 3s;
}
.seedContainer ul li:nth-child(5){
  position: absolute;
  top: 280px;
  left: 250px;
  background: rgba(68,0,103,.3);
  animation-delay: 4s;
}
.seedContainer ul li:nth-child(6){
  position: absolute;
  top: 380px;
  left: 40px;
  background: rgba(68,0,103,.3);
  animation-delay: 5s;
}
/*Animations */
.animateSeed{
  animation: animate 6s linear infinite;
}
.rotater-360-infinite{
  animation: rotater-360 7s ease-in-out;
}
.rotater360-infinite{
    animation: rotater360 5s ease-in-out;
}
/* Keyframes */
@keyframes rotater-360 {
  from{
    transform: rotate(-90deg);
  }
  to{
    transform: rotate(-450deg);
  }
}

@keyframes rotater360 {
  20%{
    transform: rotate(180deg);
  }
   30%{
     transform: rotate(360deg);
   }
   40%{
     transform: rotate(540deg);
   }
   50%{
     transform: rotate(720deg);
   }
   60%{
     transform: rotate(900deg);
   }
   70%{
     transform: rotate(1080deg);
   }
   80%{
     transform: rotate(1260deg);
   }
   90%{
     transform: rotate(1400deg);
   }
}

@keyframes animate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(359deg);
  }
}
