.container{
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.arrow-top {
  position: relative;
  top: 10px;
  left: 160px;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}

.arrow-lvl2-1 {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}
.arrow-lvl2-2 {
  position: absolute;
  top: 110px;
  left: 100px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}
.arrow-lvl2-3 {
  position: absolute;
  top: 110px;
  left: 175px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}
.arrow-lvl2-4 {
  position: absolute;
  top: 110px;
  left: 250px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}
.arrow-lvl2-5 {
  position: absolute;
  top: 110px;
  left: 330px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}

.arrow-lvl3-1 {
  position: absolute;
  top: 210px;
  left: 20px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}
.arrow-lvl3-2 {
  position: absolute;
  top: 210px;
  left: 100px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}
.arrow-lvl3-3 {
  position: absolute;
  top: 210px;
  left: 175px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}
.arrow-lvl3-4 {
  position: absolute;
  top: 210px;
  left: 250px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}
.arrow-lvl3-5 {
  position: absolute;
  top: 210px;
  left: 330px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #364EA2;
  transform: rotate(-90deg);
}

.arrow-bottom {
  position: absolute;
  top: 310px;
  left: 175px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 90px solid #ED1C24;
  transform: rotate(90deg);
}
